{% extends 'base.html.twig' %}

{% block title %}Currency index{% endblock %}

{% block body %}
    <h1>Currency index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCurrency</th>
                <th>NameCurrency</th>
                <th>Symbol</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.idCurrency }}</td>
                <td>{{ currency.nameCurrency }}</td>
                <td>{{ currency.symbol }}</td>
                <td>
                    <a href="{{ path('currency_show', {'idCurrency': currency.idCurrency}) }}">show</a>
                    <a href="{{ path('currency_edit', {'idCurrency': currency.idCurrency}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('currency_new') }}">Create new</a>
{% endblock %}
