{% extends 'base.html.twig' %}

{% block title %}OrdersRefused index{% endblock %}

{% block body %}
    <h1>OrdersRefused index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdOrderR</th>
                <th>DateRefuse</th>
                <th>Reason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orders_refused in orders_refuseds %}
            <tr>
                <td>{{ orders_refused.idOrderR }}</td>
                <td>{{ orders_refused.dateRefuse ? orders_refused.dateRefuse|date('Y-m-d') : '' }}</td>
                <td>{{ orders_refused.reason }}</td>
                <td>
                    <a href="{{ path('orders_refused_show', {'idOrderR': orders_refused.idOrderR}) }}">show</a>
                    <a href="{{ path('orders_refused_edit', {'idOrderR': orders_refused.idOrderR}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orders_refused_new') }}">Create new</a>
{% endblock %}
