{%extends 'base.html.twig' %}

{% block title 'Page Issam' %}

{% block body %}

    <div class="container">
        <h1> Issam </h1>
        <a class="btn btn-outline-dark" href="{{ path('users_index') }}"> Users </a>
        <a class="btn btn-outline-dark" href="{{ path('groups_index') }}"> Groups </a>
        <a class="btn btn-outline-dark" href="{{ path('addresses_index') }}"> Address </a>
        <a class="btn btn-outline-dark" href="{{ path('service_index') }}"> Service </a>
        <a class="btn btn-outline-dark" href="{{ path('service_index') }}"> Category </a>
        <a class="btn btn-outline-dark" href="{{ path('service_index') }}"> Zone de travaille </a>





    </div>
{% endblock %}