{%extends 'base.html.twig' %}

{% block title 'Page Issam' %}

{% block body %}

    <div class="container">
        <h1> Admin </h1>
        <a class="btn btn-outline-dark" href="{{ path('users_index') }}"> Users </a>
        <a class="btn btn-outline-dark" href="{{ path('groups_index') }}"> Groups </a>
        <a class="btn btn-outline-dark" href="{{ path('addresses_index') }}"> Address </a>
        <a class="btn btn-outline-dark" href="{{ path('service_index') }}"> Service </a>
        <a class="btn btn-outline-dark" href="{{ path('category_index') }}"> Category </a>
        <a class="btn btn-outline-dark" href="{{ path('zone_index') }}"> Zone de travaille </a>
        <a class="btn btn-outline-dark" href="{{ path('enquiry_index') }}"> Enquiry </a>

        <a class="btn btn-outline-dark" href="{{ path('basket_index') }}"> basket </a>

        <a class="btn btn-outline-dark" href="{{ path('enquiry_index') }}"> Offerdd_Price </a>

        <a class="btn btn-outline-dark" href="#"> Offers </a>

        <a class="btn btn-outline-dark" href="#"> Order refused </a>

        <a class="btn btn-outline-dark" href="#"> Participant </a>

        <a class="btn btn-outline-dark" href="#"> Participant groups </a>

        <a class="btn btn-outline-dark" href="#"> Type identify Document </a>

        <a class="btn btn-outline-dark" href="#"> Users identify  </a>



    </div>
{% endblock %}