{% extends 'base.html.twig' %}

{% block title %}Groups index{% endblock %}

{% block body %}
    <h1>Groups index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdGroup</th>
                <th>Points</th>
                <th>Star</th>
                <th>GroupName</th>
                <th>IsFlexible</th>
                <th>IsRegistered</th>
                <th>RegistrationName</th>
                <th>RegistrationNumber</th>
                <th>RegistrationCountry</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.idGroup }}</td>
                <td>{{ group.points }}</td>
                <td>{{ group.star }}</td>
                <td>{{ group.groupName }}</td>
                <td>{{ group.isFlexible ? 'Yes' : 'No' }}</td>
                <td>{{ group.isRegistered ? 'Yes' : 'No' }}</td>
                <td>{{ group.registrationName }}</td>
                <td>{{ group.registrationNumber }}</td>
                <td>{{ group.registrationCountry }}</td>
                <td>
                    <a href="{{ path('groups_show', {'idGroup': group.idGroup}) }}">show</a>
                    <a href="{{ path('groups_edit', {'idGroup': group.idGroup}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('groups_new') }}">Create new</a>
{% endblock %}
