<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!!{% endblock %}</title>


    <link rel="stylesheet"   href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark color: bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">FlexUP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if app.user %}
    <a class="btn btn-outline-light" href="{{ path('Groupes') }}"> Mes Groupes   </a>
    {% endif %}


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="{{ path('Profil') }}"> Mon Profil </a>
                </li>
             {% endif %}


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>

                {% if app.session.get('categories') %}

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for cat in app.session.get('categories') %}
                        {% if cat.level <4 %}
                             <a class="dropdown-item" href="{{ path('Profil') }}">{{ cat.nameCategory }} </a>
                        {% endif %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ajouter un service</a>
                </div>



                {% endif %}

                
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Entrez votre recherche" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" >Rechercher</button>
        </form>


    </div>
    <li class="nav-item">
        {% if app.user %}
            <a class="btn btn-outline-light" href="{{ path('Panier') }}"> Mon Panier </a>
            <a class="btn btn-outline-light" href="{{ path('logout') }}"> Se déconnecter </a>
            <a class="btn btn-outline-light" href="{{ path('issam') }}"> Admin </a>
        {% else %}
            <a class="btn btn-outline-light" href="{{ path('users_new') }}"> Inscription </a>
            <a class="btn btn-outline-light" href="{{ path('login') }}"> Connexion </a>
        {% endif %}

    </li>
</nav>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
