{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"   href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}

{% block body %}
    <h1>Users</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>IdUser</th>
                    <td>{{ user.idUser }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>EmailConfirmed</th>
                    <td>{{ user.emailConfirmed ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Mobile</th>
                    <td>{{ user.mobile }}</td>
                </tr>
                <tr>
                    <th>FirstName</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>UserName</th>
                    <td>{{ user.userName }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                <tr>
                    <th>IsPro</th>
                    <td>{{ user.isPro ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a type="button" class="btn btn-primary" href="{{ path('users_index') }}">back to list</a>

    <a type="button" class="btn btn-primary" href="{{ path('users_edit', {'idUser': user.idUser}) }}">edit</a>
    <a type="button" class="btn btn-danger" >{{ include('users/_delete_form.html.twig') }}</a>

{% endblock %}
